<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="text-center">

        <% @grid.each do |letter| %>
          <li class="btn btn-danger">
          <%= letter %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
